<% if user_signed_in? %>
  <h2>Pick an account</h2>
  <ul class="accounts">
    <% current_user.all_accounts.each do |account| %>
      <li>
        <%= link_to subscribem.root_url(subdomain: account.subdomain) do %>
          <%= account.name %> (<%= account.subdomain %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Account Sign Up", new_account_path %>
<% end %>